numpy
pyOpenSSL
watchdog
opencv-python-headless
matplotlib
openai
simple-lama-inpainting
clip-interrogator==0.6.0
transformers>=4.36.0
diffusers>=0.27.0
zhipuai
lark-parser
imageio-ffmpeg
rembg[gpu]

importlib_metadata
huggingface_hub
scipy
filelock
Pillow
einops
pyyaml
scikit-image
python-dateutil
mediapipe
svglib
fvcore
yapf
omegaconf
ftfy
addict
yacs
trimesh[easy]
ultralytics

insightface
onnxruntime
onnxruntime-gpu

soundfile
vocos
vector_quantize_pytorch


faster_whisper
whisper_timestamped
inflect
unidecode
eng_to_ipa
cn2an
jieba
pybase16384
pydub
face_alignment
librosa==0.9.2

segment_anything

lpips

peft>=0.10.0
flash-attn